In [1]:
# Dependencies
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser

# NASA Mars News

In [21]:
# URL for page to be scraped
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)

In [22]:
# Create BeautifulSoup Object; parse with 'html.parser'
soup = bs(response.text, 'html.parser')

In [24]:
news_title = soup.find('div', class_="content_title").text.strip()
news_p = soup.find('div', class_ = 'rollover_description_inner').text.strip()
print(f'Latest news: {news_title}')
print(f'News Paragraph: {news_p}')

Latest news: Alabama High School Student Names NASA's Mars Helicopter
News Paragraph: Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

# JPL Mars Space Images - Featured Image

In [29]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [30]:
# Browse the url
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

In [31]:
# Click the 'full image'
browser.click_link_by_id('full_image')

In [35]:
html = browser.html
soup = bs(html, "html.parser")
img_url = soup.find('img', class_ = 'fancybox-image')['src']

In [36]:
img_url

'/spaceimages/images/mediumsize/PIA14316_ip.jpg'

In [37]:
base_url='https://www.jpl.nasa.gov/'
featured_img_url = base_url+img_url
featured_img_url

'https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA14316_ip.jpg'

# Mars Weather

In [20]:
# To get the latest mars weather from twitter
weather_url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(weather_url)
mars_weather_soup = bs(response.text, 'html.parser')

# Find where the text is and access to retrieve text
mars_weather_tweet = mars_weather_soup.find("div", class_="js-tweet-text-container")
mars_weather_tweet = mars_weather_tweet.find('p').text

# Remove unwanted elements
mars_weather_tweet.replace('\n',' ').replace('twitter.com/JkNqAGB6WR',' ')

'InSight sol 506 (2020-04-29) low -93.5ºC (-136.2ºF) high -3.7ºC (25.3ºF) winds from the WNW at 4.5 m/s (10.1 mph) gusting to 15.6 m/s (34.8 mph) pressure at 6.80 hPapic. '

# Mars Facts

In [52]:
import pandas as pd

In [15]:
mars_facts_url = 'https://space-facts.com/mars/'

In [29]:
tables = pd.read_html(mars_facts_url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
mars_df = tables[0]
mars_df.columns=['Description','Value']
mars_df.set_index('Description')

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [43]:
html_table = mars_df.to_html()
html_table = html_table.replace('\n','')
html_table
mars_df.to_html('mars_table.html')

In [125]:
# Mars Hemispheres
Mars_Hemispheres_url='https://www.planetary.org/blogs/guest-blogs/bill-dunford/20140203-the-faces-of-mars.html'
response = requests.get(Mars_Hemispheres_url)
soup=bs(response.text, 'html.parser')

hemisphere_image_urls = []

items = soup.find_all('img', class_='img840')

for item in items:
    
    #title = item.h5.text
    title = item['alt']
    image_url = item['src']
    
    post = {
        'title':title,
        'image_url': image_url
    }
    
    hemisphere_image_urls.append(post)

In [126]:
hemisphere_image_urls

[{'title': 'Mars: Valles Marineris Hemisphere',
  'image_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg'},
 {'title': 'Mars: Syrtis Major Hemisphere',
  'image_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg'},
 {'title': 'Mars: Cerberus Hemisphere ',
  'image_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_cerberus_enhanced_f840.jpg'},
 {'title': 'Mars: Schiaparelli Hemisphere ',
  'image_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg'}]